.links{
    padding: 20px;
    background-color: greenyellow;
    display: flex;
    font-size: 30px;
}
.ini{
    color: black;
    text-decoration: none;
    position: relative;
    left: 100px;
}
.habi{
    position: relative;
    left: 400px;
}
.est{
    position: relative;
    left: 700px;
}
.con{
    position: relative;
    left: 1000px;
}